@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

a {
    color: #fa694e;
}

a:hover {
    color: #111;
    text-decoration: none;
}

.basket .btn {
    background-color: #fa694e;
    border-color: #fa694e;
}

.logo {
    display: none;
}

.header {
    position: relative;
}

.header .logo {
    display: none;
}

.header .buttons {
  position: absolute;
  bottom: -97px;
  right: 8px;
  z-index: 9;
}

.header .buttons {
  width: auto;
}

.navbar-default {
    background-color: #f9f9f9;
    border: none;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #111;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #fff;
    color: #111;
    text-decoration: none;
}

.panel-default {
    border: none;
    border-radius: 0;
}

.panel {
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}

.panel .panel-heading {
    background-color: #fff;
    border-bottom: none;
    font-size: 20pt;
    font-weight: 400;
}

.sidebar .panel {
    background-color: #f9f9f9;
}

.sidebar .panel .panel-heading {
    background-color: #f9f9f9;
    border-bottom: 3px solid #ea7c38;
}

@media (max-width: 767px) {
    .navbar .navbar-brand {
      display: none!important
    }
    .navbar-default .navbar-collapse {
      position: relative;
      z-index: 9
    }
    .navbar-toggle {
        float: left;
        margin-left: 13px;
    }
    .header .buttons {
      position: absolute;
      bottom: -87px;
      right: 25px;
      z-index: 9;
    }
}